.pag_cadastro{
    background-color: aliceblue;
    float: left;
    border: 0px;
}

.box_cadastro{
    display: inline-block;
    background-color: white;
    padding: 25px 20px 0px 0px;
    width: 500px;
    padding-bottom: 25px;
}

.pag_cadastro .input_cadastro{
    width: 100%;
    height: 30px;
    display: inline-block;
    margin-top: 0px;
    color: rgba(128, 128, 128, 0.52);
    padding-left: 5px;
}

.botão_vinho{
    color: white;
    background-color: rgb(160, 41, 41);
    margin: 50px 0 20px 0;
    border: 0;
    padding: 10px 20px;

    border-radius: 5px;
    float: left;
    cursor: pointer;
}

.pag_cadastro .botão_vinho{
    display: block;
    float: left;
    margin: auto;
}

.pag_cadastro2{
    background-color: aliceblue;
    float: right;
    border: 0px;
}

.pag_cadastro2 .img_lana{
    height: 400px;
    text-align: center;
    padding-top: 50px;
    padding-right: 50px;
}

.div_rodapé{
    background-color: rgb(160, 41, 41);
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 25px;
    position: absolute;
    bottom: 0px;
}
